/* global-scope */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.button {
    padding: 25px 65px;
    border-radius: 25px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background: linear-gradient(to left, orange, red, yellow);
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

#heading-paragraph {
    color: #999191;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
    height: 100%;
}

.text-color {
    color: orange;
}

.half-width h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.half-width h3 {
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 50px;
}

.separate-deisgn {
    padding: 10% 7% 0 7%;
}


/* global-scope-ends */

.navbar ul {
    list-style: none;
    display: flex;
    background-color: #30336b;
    padding: 0 25%;
}

.navbar ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 60px;
    font-size: 20px;
    color: white;
}

.heading-section {
    display: flex;
    height: 100vh;
}

.about-section {
    display: flex;
    padding-top: 30px;
    height: 770px;
    background: url(images/shapes/about.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.half-width .about-section-img {
    width: 60%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

#color-change h3 {
    font-weight: 150;
}

.recipie-tittle {
    text-align: center;
    padding: 50px 0;
}

.recipie-tittle h1 {
    text-transform: capitalize;
    font-weight: 900;
    font-size: 50px;
    color: #615c5c;
    padding-bottom: 30px;
}

.recipie-tittle h3 {
    font-weight: 200;
}

.recipie-section {
    display: flex;
    padding: 2% 10%;
}

.recipie-item {
    width: 27%;
    padding: 2%;
    height: 550px;
    box-shadow: 5px 11px 33px 7px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 5px 11px 33px 7px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 5px 11px 33px 7px rgba(0, 0, 0, 0.39);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.recipie-img {
    width: 100%;
    margin-bottom: 60px;
}

.recipie-item h1 {
    font-weight: bolder;
    font-size: 45px;
    padding-bottom: 30px;
}

.recipie-item h3 {
    font-weight: 200;
}

.recipie-img img {
    width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

#recipie-two {
    margin: 0 4.5%;
}

.count-flowers {
    display: flex;
    width: 81%;
    height: 250px;
    margin: 5% 9.5%;
    box-shadow: 5px 11px 58px -2px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 5px 11px 58px -2px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 5px 11px 58px -2px rgba(0, 0, 0, 0.39);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.flowers {
    width: 33.3%;
    text-align: center;
    margin: auto 0;
}

.flowers h1 {
    font-weight: bolder;
    font-size: 70px;
}

.flowers p {
    font-size: 20px;
    text-transform: capitalize;
}

#info-section {
    width: 100%;
    display: flex;
}

#info-section .info-child {
    width: 30%;
    padding: 10px 8% 30px;
    background-color: #efefef;
}

#info-section .info-child h2 {
    padding: 20px 0;
    font-size: 40px;
    color: #009432;
}

#child-info-id {
    border-left: 5px solid;
    border-right: 5px solid;
    border-width: 5px;
    border-image-source: linear-gradient(orange, red, blue);
    border-image-slice: 1;
}

.footer-section {
    height: 300px;
    width: 100%;
    background-color: #0b0e14;
    text-align: center;
    padding-top: 40px;
}

.footer-section h1 {
    font-size: 40px;
    color: white;
}

.footer-section h3 {
    color: white;
    font-weight: 200;
    margin-top: 40px;
    font-size: 25px;
}

.text-food-color {
    color: #615c5c;
}